@import url("https://fonts.googleapis.com/css?family=Arimo|Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 10px 20px;
  width: 90%;
  margin: 20px auto;
}

.checkouttext{
  width: 50%;
}

.logo img{
  width: 15rem;
}

.gridContainer {
  position: relative;
  left: 50%;
	margin-top: 15rem;
	transform: translate(-50%,-50%);
  height: 420px;
  width: 670px;
  min-width: 0;
  min-height: 0;
  background: whitesmoke;
  -webkit-box-shadow: 0px 10px 200px 1px #c2c2c2;
  box-shadow: 0px 10px 200px 1px #c2c2c2;
  display: grid;
  grid-template: auto 1fr/repeat(4, 1fr);
  grid-template-areas: "link link link link"
 "card card form form";
}


.creditCard {
  grid-area: card;
  width: 260px;
  height: 161px;
  min-width: 0;
  min-height: 0;
  color: #fff;
  background: linear-gradient(to right, #4092b5 60%, #3580aa 90%);
  margin-top: 82px;
  border-radius: 8px;
  justify-self: right;
  align-self: start;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template: repeat(4, 1fr)/19px repeat(4, 1fr) 19px;
  grid-template-areas: ". . . visa visa ."
 ". chip . visa visa . "
 ". no no no no ."
 ". name name name year .";
}

.creditCard .creditCatd > * {
  overflow: hidden;
}

.creditCard .visaLogo, .masterCardLogo, .paypalLogo {
  grid-area: visa;
  overflow: hidden;
  justify-self: right;
}

.masterCardLogo, .paypalLogo{
  display: none;
}

.creditCard .visaLogo svg {
  height: 42px;
}

.creditCard .chipLogo {
  grid-area: chip;
  overflow: hidden;
  width: 38px;
  height: 30px;
  justify-self: left;
  margin-top: 10px;
}

.creditCard ul {
  grid-area: no;
  list-style-type: none;
  justify-self: stretch;
  display: grid;
  grid-template: 1fr/repeat(1, 1fr);
}

.creditCard ul li {
  display: inline-block;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  word-spacing: 3.7px;
}

.creditCard .name {
  grid-area: name;
  justify-self: left;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12.8px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  padding-bottom: 5px;
  font-weight: 300;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.creditCard .year {
  grid-area: year;
  justify-self: right;
  font-size: 14px;
  font-weight: lighter;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  padding-bottom: 5px;
  font-weight: 300;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.previousStep {
  position: absolute;
  bottom: 70px;
  height: 20px;
  width: 110px;
  color: #4092b5;
  left: 65px;
  cursor: pointer;
}

.previousStep p {
  margin-top: -16px;
  margin-left: 40px;
  font-size: 10px;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: .5px;
  cursor: pointer;
}

.previousStep .arrow {
  height: 20px;
  width: 30px;
}

.previousStep .arrow svg {
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  fill: #3580aa;
}

form {
  margin: 0 auto;
  padding: 0;
  grid-area: form;
  overflow: visible;
  width: 200px;
  min-height: 0;
  min-width: 0;
  display: grid;
  justify-self: center;
  grid-template: 45px repeat(5, 1fr) 55px/repeat(2, 1fr);
  grid-template-areas: ". ."
 "fheading fheading"
 "fname fname"
 "fcno fcno"
 "fyear fcvv"
 "btn btn"
 ". .";
}

form input {
  position: relative;
  margin-top: -12px;
  border: 0;
  border-bottom: 1px solid #ddd;
  height: 38px;
  padding: 7px 0 0 0;
  font-size: 15px;
  background: none;
  width: 100%;
  outline: none;
  color: #000;
}

form input:focus {
  border-bottom: 1.5px solid #9ad0dd;
}

form input:focus + h6 {
  color: red;
}

h6 {
  grid-area: fheading;
  font-size: 20px;
}

.inputCon {
  min-width: 0;
  min-height: 0;
  position: relative;
  color: #c1c1c1;
}

.inputCon:after {
  position: absolute;
  content: attr(data-top);
  top: -16px;
  left: 0;
  height: 10px;
  font-size: 10.4px;
  letter-spacing: .5px;
}

#name {
  grid-area: fname;
}

#cardNum {
  grid-area: fcno;
}

#validYear {
  grid-area: fyear;
  margin-right: 13px;
}

#cvv {
  grid-area: fcvv;
  margin-left: 13px;
}

button {
  margin-top: 10px;
  grid-area: btn;
  height: 36px;
  width: 198px;
  background-color: #BF4146;
  border-radius: 5px;
  border: none !important;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 13.5px;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #f1f1f1, 0 0 0 5px #969593;
}

button:hover, .back-to-dashboard-btn:hover{
  background-color: #A62C2C;
  box-shadow: 0 0 0 4px #f1f1f1, 0 0 0 5px #969593;
}

button span {
  margin-left: 3px;
  font-weight: bold;
  letter-spacing: .5px;
  color: #fff;
}

/* styles.css */

/* styles.css */

.payment{
  border: solid white 1px;
  width: auto;
  margin: 2rem
}

.checkouttextdesc{
  text-align: center;
  margin-top: 1.5rem;
}

.payment-container {
    position: relative;
    text-align: center;
    display: flex;
    width: 600px;
    gap: 5%;
    margin: auto;
}

.payment-option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    transition: 0.5s
}

.paymentActive{
  box-shadow: 0 0 0 4px #f1f1f1, 0 0 0 5px #969593;
} 

.payment-option:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 0 0 4px #f1f1f1, 0 0 0 5px #969593;
}

.paypal{
  background-color: #FFB800;
}

.qris{
  background-color: #ddd;
}

.mastercard{
  background-image: linear-gradient(#1c1c1c, #3b3b3b);
}

.visab{
  background-color: #198df7;
}

.paypallo{
  width: auto;
  height: 50px;
}

.qrislo{
  width: auto;
  height: 30px;
}

.mastercardlo{
  width: auto;
  height: 50px;
}

.visalo{
  width: auto;
  height: 30px;
}
.popup {
  display: none!important;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-content {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  background: linear-gradient(to bottom, #ffffff, #f7f7f7);
  border: 2px solid #4a4a4a;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: scale(1);
  opacity: 1;
  animation: popupIntro 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.1s forwards;
}




.checkmark-icon {
  margin-bottom: 20px;
}

.checkmark-icon img {
  width: 50px; /* Adjust the size of the checkmark icon */
  height: 50px;
}

.thank-you-text {
  opacity: 0;
  font-size: 28px;
  margin-bottom: 15px;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  animation: titleIntro 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.3s forwards;
}
.small-text {
  opacity: 0;
  font-size: 16px;
  margin-bottom: 12px;
  color: #666;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  animation: textIntro 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.3s forwards;
}

.back-to-dashboard-btn {
  font-family: "Be Vietnam Pro", sans-serif !important;
  margin-top: 20px;
  padding: 10px;
  outline: none;
  border: 2px solid #75ce66;
  border-radius: 20px;
  background-color: #fff;
  opacity: 0;
  animation: textIntro 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.3s forwards;
  transition: 0.3s;
}

.back-to-dashboard-btn:hover {
  background-color: #f5f5f5 !important;
  cursor: pointer;
}

@keyframes popupIntro {
  from {
      transform: scale(0.7);
      opacity: 0;
  }

  to {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes titleIntro {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }

  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes textIntro {
  from {
      opacity: 0;
      transform: translateY(20px);
  }

  to {
      transform: translateY(0);
      opacity: 1;
  }
}



@media only screen and (max-width: 1000px){
.logo{
  font-size: 0.5rem;
}

.logo img{
  width: 40%;
}

.gridContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  min-width: 270px;
  height: 40rem;
}

.creditCard{
  position: relative;
  
}

.previousStep {
  bottom: 20px;

}

.checkouttextdesc{
  font-size: 1.2rem;
  margin: 1rem 2rem 7.5rem 2rem;
}

form {
  box-sizing: border-box;
  width: 80%;
  padding: 0px 50px;
  margin-bottom: 82px;
}

.inputCon{
  margin-top: 1rem;
}

.payment-container{
  width: auto;
  flex-wrap: wrap;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}

.payment-option{
  margin-bottom: 1rem;
  margin-left: 1rem;
}
}

@media only screen and (max-width: 500px){
  form{
    box-sizing: border-box;
    width: 80%;
    padding: 0px;
    margin-bottom: 82px;
  }

  form button{
    margin: auto;
    margin-top: 1.5rem;
  }

  .creditCard{
    display: none;
  }

  .checkouttextdesc{
    margin-bottom: 2.5rem;
  }

  .previousStep {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 0;
    width: 100%;
  }

  .previousStep p {
  margin: 0;
  font-size: 12px;
}

  .gridContainer{
    height: 30rem;
  }
}