@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrapper {
  width: 450px;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.wrapper .input-data {
  height: 40px;
  width: 100%;
  position: relative;
}

.wrapper .input-data input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
  transform: translateY(-20px);
  font-size: 15px;
  color: #4158d0;
}

.wrapper .input-data label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-data .underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #4158d0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before {
  transform: scaleX(1);
}

/* Additional Styles */

input[type="text"],
input[type="email"],
textarea {
  border: none;
  border-bottom: 1px solid rgb(100, 99, 99);
  background-color: transparent;
  cursor: text;
}

textarea {
  background-color: #e3e3e3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: none;
  padding: 20px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-title {
  text-align: center !important;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-info,
.contact-form {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
  border-radius: 8px 0 0 8px;
  background-color: #FFF;
}

.contact-info {
  background-color: #4158d0;
  color: #fff;
  border-radius: 0 8px 8px 0;
}

form {
  display: grid;
  gap: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  font-size: 16px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 10px;
}

textarea {
  resize: none;
  height: 120px;
}

button {
  background-color: #4158d0;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.info-content {
  padding: 10px;
  background-color: #4158d0;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: flex;
  flex-direction: column;
}

.info-content i {
  margin-right: 8px;
}

.info-content p {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.info-content h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 8px;
}

.additional-text {
  flex-grow: 1;
  color: #fff;
  margin: 30px 0;
  font-size: 18px;
  line-height: 1.5;
}

.instagram-info {
  padding: 10px;
  background-color: #4158d0;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  margin-top: 20px;
}

@media only screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
  }

  .contact-form {
    border-radius: 8px 8px 0 0;
  }

  .
