html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Animations */

.fade-in {
    opacity: 0;
    transition: opacity 400ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.slide-up{
    position: relative;
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.5s ease-in;
}

.slide-up.active{
    transform: translate(0px);
    opacity: 1;
}



/* HEADER */

.topbar {
    background: white;
    filter: drop-shadow(0 3px 5px #b3b3b3);
    width: 100%;
    height: 6vw;
    min-height: 50px;    
    position:fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

.logoimage{
    display: flex;
    align-items: center;
    margin-top: 0.85%;
    width: 35%;
    height: 70%;
    float: left;
}

.Logo {
    width: 14vw;
    min-width: 200px;
    padding-left: 40px;
}

.SignUp {
    width: 5.32vw;
    min-width: 60px;
    height: 2.8vw;
    min-height: 31.57px;
    background-color:#B03131;
    border: 2px solid #B03131;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size:calc(0.30em + 0.65vw);
    font-weight: 500;
    color:white;
    filter: drop-shadow(0 3px 0.5px #1f1f1f);
    overflow:hidden;
    transition: 0.3s;
}

.SignUp:hover {
    cursor:pointer;
    background-color: brown;
    border: 2px solid brown;
}

.LogIn {
    width: 5.32vw;
    min-width: 60px;
    height: 2.8vw;
    min-height: 31.57px;
    background-color: transparent;
    border: 2px solid #878787;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size:calc(0.30em + 0.65vw);
    font-weight: 500;
    letter-spacing: 0.5px;
    color:#878787;
    transition: 0.3s;
}

.LogIn:hover {
    cursor:pointer;
    color:#6e6e6e;
    border: 2px solid #6e6e6e;
}

.Dropdown {
    margin-left: -2%;
    background-color: transparent;
    border: transparent;
    font-size:calc(0.3em + 0.75vw);
    font-family: 'Montserrat', sans-serif;
    height: 3.15vw;
}

.Dropdown:hover {
    cursor:pointer;
}

.RightButtons {
    display:flex;
    gap: 1.5vw;
    width: 35%;
    height: 70%;
    float:right;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2vw;
    margin-top: 0.85%;
}

.Shape {
    width: 2.5vw;
    min-width: 25px;
    min-height: 25px;
    height: 2.5vw;
    display:none;
    cursor:pointer;
}

.SignUpFree:hover {
    cursor:pointer;
    background-color: brown;
}


/* Main Homepage */

.SignUpFree {
    width: 15rem;
    background-color:#B03131;
    border: 0.1rem solid #B03131;
    border-radius: 0.25rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color:white;
    padding: 1.5rem 0;
    filter: drop-shadow(0 3px 0.5px #1f1f1f);
    margin-top: 5rem;
    transition: 0.3s;
}

.Header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    position: relative; 
    color: #2F281E;
    width: 100%;
    height: 100vh;
    padding: 10% 5%;
    margin: auto;
    background-image: url(../Images/cherryblossomv3.jpg);
    background-size: cover;
    box-shadow:  inset 0px -64px 48px -10px #e5e5e5;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#caption {
font-size: 1.5rem ;
position: relative;
margin-top: 2%;
font-weight: 400;
}

.H1 {
    margin: auto 0;
    width: 50%;
    font-size: 5rem ;
    font-weight: 900;
}

.mobile-button, .mobile-button-text{
    display: none;
}

@media (max-height: 600px){
    .Header {
        height: auto;
    }
}

/* pop-up */
.overlay-pop{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 1;

}

.login-popup {
    background-color: #fff;
    padding: 3%;
    border-radius: 30px;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 50px;
    cursor: pointer;
}

/* Importance of Japanese Lang. Schools and Edu Program section*/
/* General information section */
.info {
    width: 100%;
    max-height: 1200px;
    aspect-ratio: 4/3;
}

.importance-container{
    display: flex;
    align-items: center;
    background-color: #e5e5e5;
    height: 50%;
    padding: 1.5rem 4rem;
}

.importance {
    width: 50%;
    float: left;
}

.importance .heading {
    font-size: 3rem;  
    color: #2F281E;
}

.importance .para {
    font-size: 1.5rem; 
    margin-top: 3%; 
    margin-left: 3%; 
}

.importance .hr {
    border: 3px solid #B03131; 
    width: 30%; 
    margin-top: 2%; 
}

.hr-mobile-only{
    display: none;
}

.eduprogram-image-container, .importance-image-container{
    display: flex;
    width:50%;
    height: 80%;
}

.importance-image-container img, .eduprogram-image-container img{
    width: auto;
    height: 100%;
    margin: auto;
    border-radius: 5%;
}

.eduprogram-container{
    display: flex;
    align-items: center;
    height: 50%;
    padding: 1.5rem 4rem;
}

.eduprogram {
    text-align: right;
    width: 50%;
    float: right;
}

.eduprogram .heading {
    font-size: 3rem; 
    color: #2F281E;
}

.eduprogram .para {
    float: right;
    font-size: 1.5rem; 
    width: 90%; 
    margin-top: 5%; 
    margin-left: 3%; 
}

.eduprogram p:first-of-type {
    margin-top: 3%; 
}

.eduprogram .hr {
    border: 3px solid #B03131; 
    width: 35%; 
    margin-top: 2%; 
    float:right;
}

.eduprogram-image-container-mobile{
    display: none;
}

/* VIDEO */

.videoactivity {
    width: 100%;
    background-color: #B03131;
    padding: 4.5% 0;
    .hr2{
        border: 0.2em solid white;
        width: 20%;
        margin: auto;
        margin-top: 2%;
    }
}

.activityvidh3{
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

.activityvidh1{
    text-align: center;
    font-size: 3rem;
    color: white;
}

.video-container {
    width: 50%;
    margin: auto;
    margin-top: 1.5%;
}

.vid{
    width: 100%;
    border: 3px solid black;
    border-radius: 5px;
    background-color: black;
}

/* Lesson */

.lesson-title{
    width: 100%;
    font-size: 3rem;
    margin-bottom: 2.5%;
}

.lesson-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem;
    background: #fff;
}

.lesson-card{
    width: 33rem;
    height: 500px;
    margin: auto;
}

.lesson-image{
    width: 80%;
    margin: auto;
    height: 350px;
    border-radius: 12px;
    background-size: cover;
}

#beginner{
    background-image: url("../Images/beginnerCourse.jpg")
}

#conversational{
    background-image: url("../Images/conversationalCourse.jpg")
}

#culture{
    background-image: url("../Images/cultureCourse.jpg")
}

.lesson-description{
    width: 80%;
    margin: auto;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.lesson-description-title, .lesson-description-para{
    width: 100%;
}

@media (max-width: 1750px){
    .lesson-title{
        text-align: center;
    }
}

 /* Location */

.location-container{
    background-color: #e5e5e5;
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.location-image, .location-text{
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location-h1, .location-p{
    width: 80%;
    margin: 1rem auto;
}

.location-image{
    background: url(../Images/location.png);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    border: 1px solid #cacaca;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px){
    .location-image, .location-text{
        width: 100%;
        height: 250px;
    }
}

/* TESTIMONY */

.testimony-container{
    width: 100%;
    background-color: #fff;
    padding: 5rem;
}

.testimony, .testimony-name{
    width: 75%;
    margin: auto;
}

.testimony-name{
    text-align: center;
}

.mySlides {
    display: none;
    height: 20rem;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Slideshow container */
.slideshow-container {
    width: 90%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideActive, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
    .testimony-container{
        width: 100%;
        background-color: #fff;
        padding: 1.5rem;
    }
    .slideshow-container{
        width: 100%;
    }
    .dot {
       display: none;
    }
}

/*Footer*/

.footer-container{
    background-color: #B03131;
    color: #e5e5e5;
}

.contact-us{
    padding: 2.5% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us h2{
    font-size: 3rem;
}

.contact-us > * {
    margin-bottom: 2%; 
}

.contact-us input[type="textbox"] , .contact-us input[type="email"]{
    width: 30%;
    min-width: 500px;
    aspect-ratio: 10/1;
    padding: 0 1.5%;
    border-radius: 0.25em;
    border: none;
    filter:drop-shadow(0 3px 0.5px #1f1f1f);
}

.contact-us textarea{
    border-radius: 0.25em;
    padding: 1.5%;
    width: 30%;
    min-width: 500px;
    aspect-ratio: 2/1;
    border: none;
    filter:drop-shadow(0 3px 0.5px #1f1f1f);
}

.footer-container button{
    border-radius: 0.5em;
    width: 5%;
    min-width: 83px;
    aspect-ratio: 2/1;
    margin-top: 1.5%;
    font-size: 1rem;
    border: none;
    filter:drop-shadow(0 3px 0.5px #1f1f1f);
    transition: 0.3s;
}

.footer-container button:hover{
    background-color: #e5e5e5;
    transform: translateY(-2px);
    cursor:pointer;
}

.footer-container-2{
    padding: 2rem;
    text-align: center;
    font-size: 0.5rem;
}

/* Media for Tablet */
@media only screen and (max-width: 768px) {
    html{
        font-size: 12px;
    }

    /* HEADER */
    .topbar {
        width: 100%;
        height: 15vw;
        min-height: 100px;    
    }
    
    .logoimage{
        margin-top: 2%;
        width: 65%;
        height: 70%;
    }

    .Logo {
        Width: 35vw;
        min-width: 300px;
        padding: 0;
        margin: 0;
        padding: 0 0 0 3.5vw;
    }

    .SignUp {
        width: 12vw;
        min-width: 47px;
        height: 6.31vw;
        min-height: 30px;
        font-size: 1.7vw; 
        font-weight: 500;
        color:white;
    }

    .Dropdown,  .LogIn, .Dropdown img{
        display:none;
        
    }

    .RightButtons{
        gap: 5vw;
        margin-top: 2%;
    }

    /* Main Homepage */

    .Header {
        padding: 10rem 1rem;
    }

    .H1 {
        width: 100%;
    }

    /* Info Section */

    .importance .para, .eduprogram .para{
        font-size: 1rem;
    }

    .importance .heading, .eduprogram .heading{
        width: 100%;
        font-size: 3rem;
    }

    /*Footer*/

    .footer-container{
        background-color: #B03131;
        color: #e5e5e5;
    }

    .contact-us{
        padding: 2.5% 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-us h2{
        font-size: 3rem;
    }

    .contact-us > * {
        margin-bottom: 5%; 
    }

    .contact-us input[type="textbox"] , .contact-us input[type="email"]{
        width: 60%;
        min-width: 150px;
    }

    .contact-us textarea{
        width: 60%;
        min-width: 150px;
    }

    .footer-container button{
        width: 5%;
        min-width: 75px;
        font-size: 1.25rem;
    }

    .footer-container button:hover{
        transform: none;
    }

    .footer-container-2{
        font-size: 0.75rem;
    }
}

/* Media for PHONE */
@media only screen and (max-width: 600px) {

    html{
        font-size: 10px;
    }

    /* HEADER */

    .topbar {
        width: 100%;
        height: 20vw;
        min-height: 100px;    
    }

    .logoimage{
        padding-top: calc(1.5em - 2%);
        width: 100%;
        display:flex;
        justify-content: center;
    }

    .Logo {
        min-width: 200px;
        padding: 2vw 0 0 2vw;
    }

    .SignUp {
        min-width: 0;
        min-height: 0;
        width: 0;
        height: 0;
        border: none;
        font-size: 0 
    }

    .Dropdown,  .LogIn, .Dropdown img{
        display:none;
    }

    /* Main Homepage */

    .Header{
        justify-content: center;
        height: 100vh;
        width: 100%;
        box-shadow:  inset 0px -64px 48px -10px #e5e5e5;
        background-image: url(../Images/mobile_bg.jpg);
        background-size: cover;
        color:white;
    }

    .SignUpFree{
        display: none;
    }

    .mobile-button{
        width: 60%;
        max-width: 20rem;
        margin: auto;
        font-size: 1.25rem;
        display: block;
        min-width: 60px;
        height: 5rem;
        background-color:#B03131;
        border: 2px solid #B03131;
        border-radius: 4px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        color:white;
        filter: drop-shadow(0 3px 0.5px #1f1f1f);
        overflow:hidden;
        transition: 0.3s;
    }

    .mobile-button-text{
        font-size: 1.5rem;
        font-weight: 200;
        margin: 5% 0;
        display: block;
    }

    .H1 {
        font-size: 4.5rem;
        text-align: center;
        text-shadow: 2px 2px 15px #272727;
    }

    #caption{
        font-size: 1.5rem;
        margin: 10% 0;
    }

    /*Info*/

    .info{
        aspect-ratio: auto;
        max-height: 1600px;
    }

    .hr-mobile-only{
        display:block;
        border: 0.15rem solid #B03131;
        width: 90%;
        margin: 10% auto;
    }
    
    .eduprogram p:first-of-type, .importance p:first-of-type{
        margin-top: 10%; 
    }

    .importance-container, .eduprogram-container{
        flex-wrap: wrap;
        padding: 10%;
    }

    .importance, .eduprogram{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        float: none;
    }

    .importance .heading,  .eduprogram .heading  {
        font-size: 2rem;
        text-align: center;
    }

    .importance .para, .eduprogram .para {
        font-size: 1.5rem;
        text-align: justify;
        float: none;
    }

    .importance .hr, .eduprogram .hr {
        width: 60%;
        border: 0.15rem solid #B03131; 
    }

    .eduprogram-image-container{
        display: none;
    }

    .eduprogram-image-container-mobile, .importance-image-container{
        display: block;
        width: 80%;
        margin: auto;
    }

    .eduprogram-image-container-mobile img, .importance-image-container img{
        width: 100%;
        height: auto;
        border-radius: 5%;
    }

    /* VIDEO */

    .activityvidh3{
        font-size: 1.5rem;
    }

    .activityvidh1{
        font-size: 2rem;
    }
    
    .videoactivity .hr2{
        border: 0.15em solid white;
        width: 50%;
        margin-left: 25%;
    }

    .video-container {
        width: 90%;
        margin-top: 10%;
    }

    /* Lesson */

    .lesson-card{
        height: 350px;
    }

    .lesson-image{
        height: 175px;
    }

    .lesson-description{
        height: 150px;
    }

    .lesson-title{
        text-align: center;
    }

    /*Footer*/

    .contact-us input[type="textbox"] , .contact-us input[type="email"]{
        width: 80%;
        min-width: 150px;
        min-height: 50px;
    }

    .contact-us textarea{
        width: 80%;
        min-width: 150px;
        min-height: 100px;
    }

    .footer-container button{
        width: 5%;
        min-width: 75px;
        font-size: 1.25rem;
    }

    /* Turning off animations for mobile */
    .fade-in {
        opacity: 1;
    }
}

.progress {
    width: 300px;
    height: 300px;
    background: #931F1D; /* Set theme color to red */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

circle {
    fill: none;
}

svg {
    transform: rotate(-90deg);
}

.progress-circle:nth-child(1) {
    stroke: #fff; /* Set stroke color to white */
    stroke-width: 12px;
}

.progress-circle:nth-child(2) {
    stroke: #2980B9; /* Set stroke color to matching color */
    stroke-dasharray: 1413; /* Circumference of a circle with radius 135 (2 * Ï€ * 135) */
    stroke-dashoffset: calc(1413 * (70/100)); /* For a 15-day streak (half of a 30-day month) */
    stroke-linecap: round;
    stroke-width: 16px;
    animation: progress 1s ease;
}

@keyframes progress {
    from {
        stroke-dashoffset: 1413;
    }
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: #fff; /* Set text color to white */
    font-weight: 500;
    text-align: center;
}

.text span {
    font-size: 14px;
    color: #eee; /* Set span text color to a slightly off-white */
}

/* Media query for info section sizing*/
@media (min-width: 901px) and (max-width: 1200px){
    .importance .para, .eduprogram .para{
        font-size: 1.1rem;
    }

    .importance .heading, .eduprogram .heading{
        font-size: 1.5rem;
    }
}

@media (min-width: 769px) and (max-width: 900px){
    .importance .para, .eduprogram .para{
        font-size: 1rem;
    }

    .importance .heading, .eduprogram .heading{
        font-size: 1.25rem;
    }
}
