html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* HEADER */

.topbar {
    background: white;
    filter: drop-shadow(0 3px 5px #b3b3b3);
    width: 100%;
    height: 6vw;
    min-height: 50px;    
    position:fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

.logoimage{
    display: flex;
    align-items: center;
    margin-top: 0.85%;
    width: 35%;
    height: 70%;
    float: left;
}

.Logo {
    width: 18vw;
    min-width: 200px;
    padding-left: 40px;
}

.SignUp {
    width: 5.32vw;
    min-width: 60px;
    height: 2.8vw;
    min-height: 31.57px;
    background-color:#B03131;
    border: 2px solid #B03131;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size:calc(0.30em + 0.65vw);
    font-weight: 500;
    color:white;
    filter: drop-shadow(0 3px 0.5px #1f1f1f);
    overflow:hidden;
    transition: 0.3s;
}

.SignUp:hover {
    cursor:pointer;
    background-color: brown;
    border: 2px solid brown;
}

.Dropdown {
    margin-left: -2%;
    background-color: transparent;
    border: transparent;
    font-size:calc(0.3em + 0.75vw);
    font-family: 'Montserrat', sans-serif;
    height: 3.15vw;
}

.Dropdown:hover {
    cursor:pointer;
}

.LogIn {
    width: 5.32vw;
    min-width: 60px;
    height: 2.8vw;
    min-height: 31.57px;
    background-color: transparent;
    border: 2px solid #878787;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size:calc(0.30em + 0.65vw);
    font-weight: 500;
    letter-spacing: 0.5px;
    color:#878787;
    transition: 0.3s;
}

.LogIn:hover {
    cursor:pointer;
    color:#6e6e6e;
    border: 2px solid #6e6e6e;
}

.RightButtons {
    display:flex;
    gap: 1.5vw;
    width: 35%;
    height: 70%;
    float:right;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2vw;
    margin-top: 0.85%;
}

.Shape {
    width: 2.5vw;
    min-width: 25px;
    min-height: 25px;
    height: 2.5vw;
    display:none;
}

.SignUpFree:hover {
    cursor:pointer;
    background-color: brown;
}


/* Main Homepage */

.SignUpFree {
    width: 15rem;
    background-color:#B03131;
    border: 0.1rem solid #B03131;
    border-radius: 0.25rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color:white;
    padding: 1.5rem 0;
    filter: drop-shadow(0 3px 0.5px #1f1f1f);
    margin-top: 5rem;
    transition: 0.3s;
}


.Header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    position: relative; 
    color: #2F281E;
    width: 90%;
    aspect-ratio: 16/9;
    padding: 10% 3%;
    margin: auto;
}

#caption {
font-size: 1.5rem ;
position: relative;
margin-top: 2%;
font-weight: 400;
}

.H1 {
    margin: auto 0;
    width: 50%;
    font-size: 5rem ;
    font-weight: 900;
}

/* pop-up */
.overlay-pop{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;

}

.login-popup {
    background-color: #fff;
    padding: 35px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 50px;
    cursor: pointer;
}

/* Importance of Japanese Lang. Schools and Edu Program section*/
/* General information section */
.info {
    width: 100%;
    max-height: 800px;
    aspect-ratio: 4/3;
}

/* Importance component */

.importance-container{
    display: flex;
    align-items: center;
    background-color: #e5e5e5;
    height: 50%;
    padding: 1.5rem 4rem;
}

.importance {
    width: 50%;
    float: left;
}

.importance .heading {
    font-size: 1.75rem;  
    color: #2F281E;
}

.importance .para {
    font-size: 1rem; 
    margin-top: 3%; 
    margin-left: 3%; 
}

.importance .hr {
    border: 3px solid #B03131; 
    width: 30%; 
    margin-top: 2%; 
}

/* Educational program component */

.eduprogram-image-container, .importance-image-container{
    display: flex;
    width:50%;
    height: 60%;
}

.importance-image-container img, .eduprogram-image-container img{
    width: auto;
    height: 100%;
    margin: auto;
}

.eduprogram-container{
    display: flex;
    align-items: center;
    height: 50%;
    padding: 1.5rem 4rem;
}

.eduprogram {
    text-align: right;
    width: 50%;
    float: right;
}

.eduprogram .heading {
    font-size: 2rem; 
    color: #2F281E;
}

.eduprogram .para {
    float: right;
    font-size: 1rem; 
    width: 90%; 
    margin-top: 5%; 
    margin-left: 3%; 
}

.eduprogram p:first-of-type {
    margin-top: 3%; 
}

.eduprogram .hr {
    border: 3px solid #B03131; 
    width: 35%; 
    margin-top: 2%; 
    float:right;
}

/* VIDEO */

.videoactivity {
    width: 100%;
    background-color: #B03131;
    padding: 4.5% 0;
    .hr2{
        border: 0.2em solid white;
        width: 20%;
        margin: auto;
        margin-top: 2%;
    }
}

.activityvidh3{
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

.activityvidh1{
    text-align: center;
    font-size: 3rem;
    color: white;
}

.video-container {
    width: 50%;
    margin: auto;
    margin-top: 1.5%;
}

.vid{
    width: 100%;
    border: 3px solid black;
    border-radius: 5px;
    background-color: black;
}

/* Lesson Content */

table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    margin-top: 2%;
}

td, th {
    border: 0.1em solid #6e6e6e;
    text-align: left;
    padding: 2.5%;
}

.cell1{
    width: 15%;
}

.cell3{
    width: 60%;
}
  

.lesson-content-container{
    padding: 5% 0;
}

.lesson-content-title{
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    margin: auto;
}

.lesson-content-title h1{
    font-size: 3rem;
}

.lesson-content-title hr{
    border: 0.2em solid #B03131;
    width: 15%;
    margin:auto;
    margin-top: 2%;
}


/*Footer*/

.footer-container{
    background-color: #B03131;
    color: #e5e5e5;
}

.contact-us{
    padding: 2.5% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us h2{
    font-size: 3rem;
}

.contact-us > * {
    margin-bottom: 2%; 
}

.contact-us input[type="textbox"] , .contact-us input[type="email"]{
    width: 30%;
    min-width: 500px;
    aspect-ratio: 10/1;
    padding: 0 1.5%;
    border-radius: 0.25em;
    border: none;
    filter:drop-shadow(0 3px 0.5px #1f1f1f);
}

.contact-us textarea{
    border-radius: 0.25em;
    padding: 1.5%;
    width: 30%;
    min-width: 500px;
    aspect-ratio: 2/1;
    border: none;
    filter:drop-shadow(0 3px 0.5px #1f1f1f);
}

.footer-container button{
    border-radius: 0.5em;
    width: 5%;
    min-width: 83px;
    aspect-ratio: 2/1;
    margin-top: 1.5%;
    font-size: 1rem;
    border: none;
    filter:drop-shadow(0 3px 0.5px #1f1f1f);
    transition: 0.3s;
}

.footer-container button:hover{
    background-color: #e5e5e5;
    transform: translateY(-2px);
    cursor:pointer;
}

.footer-container-2{
    padding: 2rem;
    text-align: center;
    font-size: 0.5rem;
}

/* Media for Tablet */
@media only screen and (max-width: 768px) {
    html{
        font-size: 12px;
    }

    /* HEADER */
    .topbar {
        width: 100%;
        height: 15vw;
        min-height: 100px;    
    }
    
    .logoimage{
        margin-top: 2%;
        width: 65%;
        height: 70%;
    }

    .Logo {
        Width: 35vw;
        min-width: 300px;
        padding: 0;
        margin: 0;
        padding: 0 0 0 3.5vw;
    }

    .SignUp {
        width: 12vw;
        min-width: 47px;
        height: 6.31vw;
        min-height: 30px;
        font-size: 1.7vw; 
        font-weight: 500;
        color:white;
    }

    .Dropdown,  .LogIn, .Dropdown img{
        display:none;
        
    }

    .Shape {
        padding-left: 0;
        width: 5vw;
        height: 5vw;
        margin-top: 0;
        display: block;
    }

    .RightButtons{
        gap: 5vw;
        margin-top: 2%;
    }

    /* Main Homepage */

    .Header {
        padding: 10rem 1rem;
    }

    .H1 {
        width: 100%;
    }

    /* Lesson Content */

    table {
        width: 85%;
    }

    /*Footer*/

    .footer-container{
        background-color: #B03131;
        color: #e5e5e5;
    }

    .contact-us{
        padding: 2.5% 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-us h2{
        font-size: 3rem;
    }

    .contact-us > * {
        margin-bottom: 5%; 
    }

    .contact-us input[type="textbox"] , .contact-us input[type="email"]{
        width: 60%;
        min-width: 150px;
    }

    .contact-us textarea{
        width: 60%;
        min-width: 150px;
    }

    .footer-container button{
        width: 5%;
        min-width: 75px;
        font-size: 1.25rem;
    }

    .footer-container button:hover{
        transform: none;
    }

    .footer-container-2{
        font-size: 0.75rem;
    }
}

/* Media for PHONE */
@media only screen and (max-width: 600px) {

    html{
        font-size: 10px;
    }

    /* HEADER */

    .topbar {
        width: 100%;
        height: 20vw;
        min-height: 100px;    
    }

    .logoimage{
        padding-top: calc(1.5em - 2%);
        width: 65%;
    }

    .Logo {
        Width: 75vw;
        min-width: 200px;
        padding: 2vw 0 0 2vw;
    }

    .SignUp {
        min-width: 0;
        min-height: 0;
        width: 0;
        height: 0;
        border: none;
        font-size: 0 
    }

    .Dropdown,  .LogIn, .Dropdown img{
        display:none;
    }

    .Shape {
        width: 7.5vw;
        height: 7.5vw;
        min-width: 35px;
        display: block;
    }

    /* Main Homepage */

    .SignUpFree{
        width: 60%;
        margin-top: 15%;
    }

    .H1 {
        font-size: 4rem ;
    }

    /*Info*/

    .info{
        aspect-ratio: auto;
    }
    
    .eduprogram p:first-of-type, .importance p:first-of-type{
        margin-top: 10%; 
    }

    .importance-container, .eduprogram-container{
        padding: 10%;
    }

    .importance, .eduprogram{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .importance .heading,  .eduprogram .heading  {
        font-size: 2rem;
        text-align: center;
    }

    .importance .para, .eduprogram .para {
        font-size: 1.5rem;
        text-align: justify;
    }

    .importance .hr, .eduprogram .hr {
        width: 60%;
        border: 0.15rem solid #B03131; 
    }

    .eduprogram-image-container, .importance-image-container{
        display: none;
    }

    /* VIDEO */

    .activityvidh3{
        font-size: 1.5rem;
    }

    .activityvidh1{
        font-size: 2rem;
    }
    
    .videoactivity .hr2{
        border: 0.15em solid white;
        width: 50%;
        margin-left: 25%;
    }

    .video-container {
        width: 90%;
        margin-top: 10%;
    }

    /* Lesson Content */

    .lesson-content-container{
        padding: 10% 0;
    }

    .lesson-content-title{
        font-size: 2rem;
    }

    .lesson-content-title hr{
        width: 40%;
        margin-top: 4%;
    }

    table {
        width: 90%;
        margin-top: 4%;
    }
    
    td, th {
        border: 0.1rem solid #6e6e6e;
        text-align: left;
        font-size: 1.3rem; 
        padding: 0.35rem;
    }

    /*Footer*/

    .contact-us input[type="textbox"] , .contact-us input[type="email"]{
        width: 80%;
        min-width: 150px;
        min-height: 50px;
    }

    .contact-us textarea{
        width: 80%;
        min-width: 150px;
        min-height: 100px;
    }

    .footer-container button{
        width: 5%;
        min-width: 75px;
        font-size: 1.25rem;
    }
    
}