html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.top {
    width: 100%;
}

.Logo {

    position:relative;
    Width: 5.9896vw;
    padding-top:2%;
    padding-left:2.5%;
}



.LogoText {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.604167vw;
    font-weight: bold;
    color:black;
    position:absolute;
    padding-top:1.95%;
}



.SignUp {
    width: 6.5vw;
    height: 2.9167vw;
    background-color:#B03131;
    border: 2px solid #B03131;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw; 
    font-weight: 700;
    color:white;
    filter: drop-shadow(0 3px 0.5px #1f1f1f);
    overflow:hidden;
}

.SignUp:hover {
    cursor:pointer;
    background-color: brown;
    border: 10px solid brown;
}

.Dropdown {
    background-color: transparent;
    border: transparent;
    font-size:1rem;
    font-family: 'Montserrat', sans-serif;
    margin-right: 10px;
}

.Dropdown:hover {
    cursor:pointer;
}

.LogIn {
    width: 6vw;
    height: 2.9167vw;
    background-color: transparent;
    border: 2px solid #878787;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    font-weight: 700;
    color:#878787;

}

.LogIn:hover {
    cursor:pointer;
    color:#6e6e6e;
    border: 2px solid #6e6e6e;
}

.RightButtons {
    display:flex;
    justify-content: space-between; 
    margin-left: 75%;
    margin-top: -3.5%;
    padding-right: 2%;
 
}

.Shape {
    padding-left: 5%;
}

.SignUpFree:hover {
    cursor:pointer;
    background-color: brown;
    border: 10px solid brown;
}

.SignUpFree {
    width: 13.65vw;
    height: 3.85vw;
    background-color:#B03131;
    border: 10px solid #B03131;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color:white;
    padding-top: 0;
    filter: drop-shadow(0 3px 0.5px #1f1f1f);
}


.leftButtons {
    display: wrap;
    justify-content: space-between;
    margin-right: 100%;
    margin-top: 5%;
}

.Header {
    font-family: 'Montserrat', sans-serif;
    position: relative; 
    color: #1c1c1c;
    width: 35%;
    padding: 7vw 0 3.5vw 3.5vw;
}

#caption {
font-size: 20px ;
position: relative;

}

.H1 {
    font-size: 74px ;
    font-weight: 900;
}

/* pop-up */
.overlay-pop{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;

}

.login-popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

