@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --c-gray-100: #000000;
  --c-gray-200: #1f1f1f;
  --c-gray-300: #2e2e2e;
  --c-gray-400: #313131;
  --c-gray-500: #969593;
  --c-gray-600: #a6a6a6;
  --c-gray-700: #bdbbb7;
  --c-gray-800: #f1f1f1;
  --c-gray-900: #ffffff;
  --c-olive-500: #BF4146; 
  --c-green-500: #A62C2C;
  --c-white: var(--c-gray-100);
  --c-text-primary: var(--c-gray-100);
  --c-text-secondary: var(--c-gray-200);
  --c-text-tertiary: var(--c-gray-500);
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: var(--c-gray-800);
  color: var(--c-text-primary);
  display: flex;
  justify-content: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

button,
select,
input,
textarea {
  font: inherit;
}

a {
  color: inherit;
}

.app {
  border-radius: 0.35vw;
  width: 100%;
  height: 100%;
  background-color: var(--c-gray-800);
  padding: 2vw 4vw 6vw;
  display: flex;
  flex-direction: column;
}

.app-header {
  display: grid;
  grid-template-columns: minmax(-webkit-min-content, 175px) minmax(-webkit-max-content, 1fr) minmax(-webkit-max-content, 400px);
  grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(max-content, 400px);
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  align-items: flex-end;
}

@media only screen and (max-width: 1400px) {
  .app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--c-gray-600);
  }
}

@media only screen and (max-width: 1400px) {
  .app-header-navigation {
    display: none;
  }
}

.app-header-actions {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1400px) {
  .app-header-actions {
    display: none;
  }
}

.app-header-actions-buttons {
  display: flex;
  border-left: 1px solid var(--c-gray-600);
  margin-left: 2rem;
  padding-left: 2rem;
}
.app-header-actions-buttons > * + * {
  margin-left: 1rem;
}

.app-header-mobile {
  display: none;
}

@media only screen and (max-width: 1400px) {
  .app-header-mobile {
    display: flex;
  }
}

.app-header-title{
  font-size: 1.75rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--c-gray-600);
}

.app-body-title{
  display: none;
}

@media only screen and (max-width: 1400px){
  .app-header-title{
    display: none;
  }

  .app-body-title{
    display: block;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1000px){
  .app-body-title{
    font-size: 3rem;
  }
}



.app-body {
  min-height: 60vh;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(min-content, 175px) minmax(max-content, 900px) minmax(min-content, 400px);
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  padding-top: 2.5rem;
}

@media only screen and (max-width: 1400px) {
  .app-body {
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    padding-top: 1.5rem;
  }
  .app-body > * {
    margin-bottom: 3.5rem;
  }
}

.app-body-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media only screen and (max-width: 1400px) {
  .app-body-navigation {
    display: none;
  }
}

.footer {
  margin-top: auto;

}
.footer h1 {
  font-size: 1.5rem;
  line-height: 1.125;
  display: flex;
  align-items: flex-start;
}
.footer h1 small {
  font-size: 0.5em;
  margin-left: 0.25em;
}
.footer div {
  border-top: 1px solid var(--c-gray-600);
  margin-top: 1.5rem;
  padding-top: 1rem;
  font-size: 0.75rem;
  color: var(--c-text-tertiary);
}

.logo {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid var(--c-gray-600);
}
@media only screen and (max-width: 1400px) {
  .logo {
    border-bottom: 0;
  }
}

.logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
}

.logo-title {
  display: flex;
  flex-direction: column;
  line-height: 1.25;
  margin-left: 0.75rem;
}
.logo-title span:first-child {
  color: var(--c-text-primary);
}
.logo-title span:last-child {
  color: var(--c-text-tertiary);
}

@media only screen and (max-width: 1000px) {
  .logo-icon {
    width: 72px;
  }
  
  .logo-title {
    font-size: 1.5rem;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--c-text-tertiary);
}
.navigation a {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: 0.25s ease;
}
.navigation a * {
  transition: 0.25s ease;
}
.navigation a i {
  margin-right: 0.75rem;
  font-size: 1.25em;
  flex-shrink: 0;
}
.navigation a + a {
  margin-top: 1.25rem;
}
.navigation a:hover, .navigation a:focus, .navigation a.active {
  transform: translateX(4px);
  color: var(--c-text-primary);
}

.user-profile {
  display: flex;
  align-items: center;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: var(--c-text-tertiary);
  transition: 0.25s ease;
}
.user-profile:hover, .user-profile:focus {
  color: var(--c-text-primary);
}
.user-profile:hover span:last-child, .user-profile:focus span:last-child {
  box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
}
.user-profile span:first-child {
  display: flex;
  font-size: 1.125rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--c-gray-600);
  font-weight: 300;
}
.user-profile span:last-child {
  transition: 0.25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 1.5rem;
  flex-shrink: 0;
}
.app-header-actions {
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Enhanced box-shadow */
  list-style: none;
  padding: 0;
  margin: 0;
  transform-origin: top center;
  opacity: 0;
  border-radius: 4px; /* Rounded corners */
  z-index: 10; /* Ensure the dropdown is above other elements */
  min-width: 241px; /* Adjust as needed */
}

a{
  text-decoration: none;
}

.dropdown-menu li {
  padding: 12px;
  font-size: 14px;
  color: var(--c-text-secondary);
  transition: background-color 0.2s ease;
}

.dropdown-menu li:hover {
  background-color: var(--c-olive-500);
  color:#fff
}

.first-dropdown {
  border-radius: 4px 4px 0 0 ;
}

.last-dropdown {
  border-radius: 0 0 4px 4px;
}

.dropdown-open {
  display: block;
  animation: fadeInDown 300ms ease-in-out forwards;
  opacity: 1;
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-8px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotateX {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.icon-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  border: 1px solid var(--c-gray-500);
  color: var(--c-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s ease;
  flex-shrink: 0;
}

.icon-button.large {
  width: 42px;
  height: 42px;
  font-size: 1.25em;
}
.icon-button i {
  transition: 0.25s ease;
}
.icon-button:hover, .icon-button:focus {
  background-color: var(--c-gray-700);
  box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
}

@media only screen and (max-width: 1000px) {
  .icon-button {
    width: 2em;
    height: 2em;
  }

  .icon-button.large {
    width: 2em;
    height: 2em;
    font-size: 2em;
  }

  .icon-button.medium {
    width: 2em;
    height: 2em;
    font-size: 1.5em;
  }
}

.d-pathways-block {
  max-width: 900px;
  width: 100%;
  height: 45.8rem;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1400px) {
  .d-pathways-block {
    height: 100%;
  }
}

.d-pathways-block__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.d-pathways-block__title {
  font-size: 24px;
}

.d-pathways-block__link {
  text-decoration: none;
  font-weight: 600;
  color: var(--c-gray-500);
  margin-left: 20px;
  transition: 0.3s
}

.d-pathways-block__link:hover {
  color: var(--c-gray-400);
}

.d-pathways-block__actions {
  display: flex;
}

.d-pathways-switch {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.d-pathways-switch input {
  -webkit-appearance: none;
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 25px;
  background-color: #ccc;
  transition: background .3s;
  outline: none;
  cursor: pointer;
  padding-top:2%;
  
}

.d-pathways-switch input::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  background-color: rgb(255, 255, 255);
  transition: left .3s;
}

.d-pathways-switch input:checked {
  background-color: var(--c-olive-500);
}

.d-pathways-switch input:checked::after {
  left: 70%;
}

.dashboard-courses{
  display: flex;
  width: 100%;
}

.d-pathways-switch{
  display: flex;
  padding-top: 1%;
}

.d-pathways-switch__title {
  margin-left: 10px;
  color: #555;
}

.js-edit-pathways {
  background-color: #df5e5b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.js-edit-pathways:hover {
  background-color: #c0392b;
}

.d-pathways-block__empty-text {
  color: #555;
  font-size: 18px;
  margin-bottom: 10px;
}

.d-pathways-block__empty-cover-1, .d-pathways-block__empty-cover-2, .d-pathways-block__empty-cover-3{
  display: flex;
  gap: 5%;
  width: 95%;
  margin: 5% auto;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.progress-bar{
  background-color: #dbdbdb;
  width: 70%;
  height: 10px;
  border-radius: 15px;
}

.grammar-progress{
  background-color: var(--c-olive-500);
  width: 50%;
  height: 100%;
  border-radius: 15px;
  animation: progressBar 1s ease
}

.kanji-progress{
  background-color: var(--c-olive-500);
  width: 70%;
  height: 100%;
  border-radius: 15px;
  animation: progressBar 1s ease
}

.pronounciation-progress{
  background-color: var(--c-olive-500);
  width: 30%;
  height: 100%;
  border-radius: 15px;
  animation: progressBar 1s ease
}

@keyframes progressBar{
  from{ 
    width: 0;
  }
}

.progress-value-grammar, .progress-value-kanji, .progress-value-pronounciation{
  color: gray;
  padding-top: 1.5%;
}

.icon-background{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background-color: #e5e5e5;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 100%;
}

.icon span{
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.course-info{
  width: 70%;
}

.streak-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
}

.streak-container h1{
  font-size: 1.5rem;
}

.streak {
  width: 250px;
  height: 250px;
  margin: auto;
  background: #df5e5b; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.streak-circle {
  fill: none;
}

.streak-svg {
  transform: rotate(-90deg);
}

.streak-circle:nth-child(1) {
  stroke: #fff; /* Set stroke color to white */
  stroke-width: 12px;
}

.streak-circle:nth-child(2) {
  stroke: #598dc4; /* Set stroke color to matching color */
  stroke-dasharray: 1413; /* Circumference of a circle with radius 135 (2 * Ï€ * 135) */
  stroke-dashoffset: calc(1413*(70/100)); /* For a 15-day streak (half of a 30-day month) */
  stroke-linecap: round;
  stroke-width: 16px;
  animation: streak-progress 1s ease;
}

@keyframes streak-progress {
  from {
      stroke-dashoffset: 1413;
  }
}

.streak-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  color: #fff; /* Set text color to white */
  font-weight: 500;
  text-align: center;
}

.streak-text span {
  font-size: 20px;
  color: #eee; /* Set span text color to a slightly off-white */
}

/* Word Of The Day */
.wordoftheday-container{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.wordoftheday-container h1{
  font-size: 1.5rem;
}

.single-card {
  transition: all 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
}

.wrapper.clicked .single-card {
  transform: rotateX(-180deg);
}

.front, .back {
  width: 200px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.front {
	cursor: pointer;
	height: 100%;
	background-image: url(1.jpg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 50px;
	background-size: cover;
	background-position: center center;
}

.back {
  cursor: pointer;
  transform: rotateX(180deg); /* Initially flipped */
  position: absolute;
  border-radius: 50px;
  height: 100%;
  background: #fff;
}

.content {
	padding-top: 15%;
}
.content h2 {
	font-size: 35px;
	margin: 0;
	font-weight: 300;
}
.content h4 {
	margin: 0;
}

.wrapper, .single-card {
	height: 100%;
	max-width: 300px;
	margin: 0 auto;
	position: relative;
}
.wrapper {
	perspective: 900px;
  padding: 10px
}


@media only screen and (max-width: 1400px){
  /* For Hamburger Button and Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: -100%; 
    height: 100%;
    width: 100%;
    transition: left 0.3s ease;
    z-index: 10000; 
    backdrop-filter: blur(5px);
  }

  .sidebar-content{
    height: 100%;
    width: 65%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .sidebar nav {
    padding-top: 20px;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
  }

  .sidebar ul li {
    margin-bottom: 15px;
    font-size: 2.5rem;
  }

  .sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }

  .sidebar ul li a:hover {
    background-color: #f5f5f5;
  }

  .show-sidebar {
    left: 0;
    display: block;
  }
}

