.choice-container {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid #ddd;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: 0.3s;
}

.choice-container:hover {
  cursor: pointer;
  transform: translateY(-0.2rem);
  transition: transform 150ms;
}

.choice-prefix {
  border-radius: 1rem 0 0 1rem;
  padding: 1.5rem 2.5rem;
  background-color: #df5e5b;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #85cf96;
}

.incorrect {
  background-color: #ce3e3c;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #df5e5b;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #df5e5b;
  width: 0%;
}

audio {
  display: none;
}