.choice-container {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid #ddd;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: 0.3s;
}

.choice-container:hover {
  cursor: pointer;
  transform: translateY(-0.2rem);
  transition: transform 150ms;
}

.choice-prefix {
  border-radius: 1rem 0 0 1rem;
  padding: 1.5rem 2.5rem;
  background-color: #df5e5b;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #85cf96;
}

.incorrect {
  background-color: #ce3e3c;
}

/* HUD */

#hud {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#hud-item{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

.score-container{
  width: 15%;
  height: 10rem;
  border-radius: 3rem;
  border: 5px solid #ce3e3c;
}

#progressBar {
  width: 80%;
  height: 2rem;
  border-radius: 25rem;
  border: none;
  background-color: #ebebeb;
  margin: 1.5rem 0;
}

#progressBarFull {
  height: 2rem;
  border-radius:25rem;
  background-color: #df5e5b;
  width: 0%;
}

#progressText{
  width: 100%;
  text-align: left;
}

#scoreText{
  width: 100%;
  background-color: #ce3e3c;
  border-color: #ce3e3c;
  border-radius: 3rem 3rem 0 0;
  color: white;
}

#score{
  margin: 0;
}

audio{
  margin: 10% auto;
  width: 100%;
  border: 5px solid #e5e5e5;
  border-radius: 5px;
}

audio::-webkit-media-controls-panel{
  background-color: #fff;
}

@media only screen and (max-width: 1000px){
  #progressText{
    width: 100%;
    text-align: center;
  }

  #scoreText{
    display: none;
  }
  
  #score{
    font-size: 2.75rem;
    color: white;
  }

  .score-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: auto;
    aspect-ratio: 1/1 !important;
    border-radius: 100%;
    border: 5px solid #ce3e3c;
    background-color: #ce3e3c;
  }
  
}